/*
body {
   background-color: whitesmoke;
 }
 .container{
   background-color: greenyellow;
 }
 */
/*
 .content-example{
    text-align: end;
 }
 */


 .logo {
  width: 100px;
  height: 106px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
} 
.logo img {
  
  width: 90%;
  height: auto;
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
  overflow:hidden;
  vertical-align: middle;
}
.span {
  vertical-align: bottom;
}
.menu{
  padding-top: 15%;
  padding-bottom: 10%;
  font-size: 120%;
  font-weight: bold;
}
.align-header{
  display: inline-flex;
}
.admin-outer-container{
  display: inline-flex;
}
.admin-container{
  width: 100%;
  height: 100%;
}

.admin-image{

}
.admin-name{

}

.footer{
  position: absolute;
  bottom: 0;
  height: 100px;
  display: inline-flex;
}

/* SIDEBAR ************ */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
   left: 0;
   background-color: #f1f1f1 ; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
 }
 
 /* The navigation menu links */
 .sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 /* When you mouse over the navigation links, change their color */
 .sidenav a:hover {
   color: #000000;
 }
 
 /* Position and style the close button (top right corner) */
 .sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
 }
 
 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
   transition: margin-left .5s;
   padding: 20px;
 }
 
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
 }
/* SIDEBAR ************ */
table td.icon-trash{/*todos los elementos <td> que esten dentro de un <table> y tengan la clase icon-trash --> para centrar el icono */
  padding-left: 33px;
}
.icon-trash {
  fill: red;
}
.text td{ /*para centrar el texto de las filas de listados/obtener*/
  text-align: center;
}
.text th{ /*para centrar el texto de las filas de listados/obtener*/
  text-align: center;
}
svg{
  cursor: pointer;
}
svg:hover{
  transform: scale(1.2);
}
svg:active{
  filter: grayscale(25%) opacity(10);
}
.add h1{
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 11px;
}
.add svg{
  margin-left: 10px;
  margin-top: 5px;
}

/*




*/
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}